@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);

body{
  background: #f8f8f8;
  min-height: 100%;
}
.main{
  font-family: 'Didact Gothic', sans-serif;
  height: 250px;
  width: 640px;
  margin: 7% auto 0 auto;
}
.photo{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  float: right;
  padding: 15px;
}
.info{
  padding: 5%;
  font-size: 1.2em;
}
.info h1{
  font-style: oblique;
}
ul{
  list-style-type: none;
}
ul a{
  color: #000;
}
ul a:hover{
  color: #555;
}
ul li{
  display: inline-block;
  font-size: 35px;
  margin-left: 20px;
}
ul span{
display: none;
}
